.navbar { 
	display: flex; 
	gap: 20px;
	background-color: rgb(176, 203, 187);
}

.navbarRight { 
	display:flex;
	justify-content:flex-end;
	width: 100vw;
	gap: 20px;
	background-color: rgb(176, 203, 187);
}

.navbar button { 
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: transparent;
}

/* 
.navbar > button:hover {
//insert code undderline} */


.about { 
	background-color: rgb(79, 159, 111);
	height:100vh;
}


.loaderAbout{ 
	background-color: rgb(79, 159, 111);
	width: 100vw;
	height:100vh;
	position: absolute;
	animation: move 0.5s;
	z-index: 999;
}



.homeLoader{ 
	background-color: rgb(241, 245, 235);
	width: 100vw;
	height:100vh;
	position: absolute;
	animation: move 0.5s;
	z-index:999;
}


.loaderOne{
	background-color: pink;
	width: 100vw;
	height:100vh;
	position: absolute;
	animation: move 0.5s;
}


.loaderTwo{
	background-color: chocolate;
	width: 100vw;
	height:100vh;
	position: absolute;
	animation: move 0.5s;
}


.loaderThree{
	background-color: blue;
	width: 100vw;
	height:100vh;
	position: absolute;
	animation: move 0.5s;
}



@keyframes move { 
	0% {height:0px;}
	100% {height: 110vh};
}

.text { 
	animation: appear 5s;
	width: 500px;
	padding: 20%;
}

@keyframes appear { 
	0% {font-size: 0px}
	70% {font-size: 100px}
	100% {font-size: 12px}
}


.one { 
	background-color: pink;
	height: 100vh;
}

.two { 
	background-color: chocolate;
	height: 100vh;
}

.three {
	background-color: blue;
	height: 100vh;
}

.four {
	background-color: chocolate;
	height: 100vh;
}

.outerContainer { 
	width: 100vw;
	height:89vh;
	display: flex;

}

.homeContainer {
	margin-left: 4%;
	margin-top:10%;
	font-size: 6vw;
	width: 49%;
}

.bestTeams { 
	text-decoration: underline yellow 10px;
	font-style: italic;
}

.homeSmallText{ 
	font-size: 1.4vw;
	padding: 10px;
	margin-top: 4%;
}

.homePhotosContainer { 
	margin-top:4%;
	margin-right: -6%;
	display: flex;
}

.dogBig1img{ 
	width: 33vw;
	height: 42vw;
	object-fit:cover;
	overflow-y: hidden;
}

.imageReveal { 
	animation: imageReveal 1s;
	animation-fill-mode: forwards;
}

.imageHides { 
	animation: imageHides 1s;
	animation-fill-mode: forwards;
}

@keyframes imageReveal{
	0% {clip-path: inset(0 100% 0 0)}
	100% {clip-path: inset(0)}
}

@keyframes imageHides { 
	0% {clip-path: inset(0)}
	100% {clip-path: inset(0 0 0 100%)}
}


.homeSmallDogPhotosVertical { 
	display: flex; 
	flex-direction: column;

}


.dogSmall1 { 
	width: 21vw;
	height: 23vw;
	object-fit: cover;
}

.dogSmall2 { 
	width: 24vw;
	height: 19vw;
	object-fit: cover;
}

.translatePic {
	transform: translate(-6vw, 0);
}

.zIndex { 
	z-index: -1;
}




